/* GENERAL STYLES */
*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* MAIN CONTAINER */
.container {
    width: 80%;
    margin: auto;
    padding: 40px;
/*     background-color: rgb(153, 153, 153);
 */}

/* ROW */
.row-items li{
    display: inline-block;
    list-style: none;
}

.item {
    width: 30%;
    height: auto;
    position: relative;
    margin: 20px 0;
}

.middle {
    margin: 0 5px;
}

img {
    width: 100%;
    display: inline;
}

/* /* IMG OVER AREA */
.img-top {
    position: absolute;
    z-index: 1;
}

.item:hover .img-top{
    display: none;
}

.item:hover .heart {
    color: #eb0037;
}

/* WISHLIST AREA */
.heart {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 3%;
    right: 0;
    z-index: 2;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    text-align: center;
    background-color: #FFF;
}

/* LABEL AREA */
.label {
    position: absolute;
    left: 0;
    bottom: 16%;
    z-index: 2;
    font-size:10px;
    font-weight: bold;
    color: #FFF;
}


.discount {
    padding: 1px 3px;
    background-color: #eb0037;
}
.sustainability {
    padding: 1px 3px;
    background-color: #00875a;
}

/* DESCRIPTION ITEMS AREA */
.brand-item {
    font-size: 10px;
    color: #7a7a7a;
}

.name-item,.price-item {
    font-size: 12px;
    font-weight: bold;
}

.price-item {
    color: #ff0000;
}

.price-item span {
    color: #000000;
    text-decoration: line-through;
}