/* GENERAL STYLES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* MAIN CONTAINER */
.container {
    width: 80%;
    margin: auto;
    padding:0 10px;
    background-color: rgb(153, 153, 153);
}

/* ROW */
.row-items li{
    display: inline-block;
    list-style: none;
}

.item {
    width: 30%;
    height: auto;
    position: relative;
}

img {
    width: 100%;
    display: inline;
}

.img-hover {
    display: none;
    z-index: 1;
}

.heart {
    width: 18px;
    height: 18px;
    text-align: center;
    background-color: #FFF;
    position: absolute;
    top: 3%;
    right: 0;
}